################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ShopBridge/ShopBridge.Services.Data/obj/ShopBridge.Services.Data.csproj.nuget.g.targets
/ShopBridge/ShopBridge.Services.Data/obj/ShopBridge.Services.Data.csproj.nuget.g.props
/ShopBridge/ShopBridge.Services.Data/obj/ShopBridge.Services.Data.csproj.nuget.dgspec.json
/ShopBridge/ShopBridge.Services.Data/obj/project.nuget.cache
/ShopBridge/ShopBridge.Services.Data/obj/project.assets.json
/ShopBridge/ShopBridge.Services.Data/obj/Debug/netcoreapp3.1/ShopBridge.Services.Data.csprojAssemblyReference.cache
/ShopBridge/ShopBridge.Services.Data/obj/Debug/netcoreapp3.1/ShopBridge.Services.Data.assets.cache
/ShopBridge/ShopBridge.Services.Data/obj/Debug/netcoreapp3.1/ShopBridge.Services.Data.AssemblyInfoInputs.cache
/ShopBridge/ShopBridge.Services.Data/obj/Debug/netcoreapp3.1/ShopBridge.Services.Data.AssemblyInfo.cs
/ShopBridge/ShopBridge.Services.Data/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ShopBridge/ShopBridge.Services.Data/obj/Debug/netcoreapp3.1
/ShopBridge/ShopBridge.Services.Data/obj/Debug/net5.0/ShopBridge.Services.Data.GeneratedMSBuildEditorConfig.editorconfig
/ShopBridge/ShopBridge.Services.Data/obj/Debug/net5.0/ShopBridge.Services.Data.assets.cache
/ShopBridge/ShopBridge.Services.Data/obj/Debug/net5.0/ShopBridge.Services.Data.AssemblyInfoInputs.cache
/ShopBridge/ShopBridge.Services.Data/obj/Debug/net5.0/ShopBridge.Services.Data.AssemblyInfo.cs
/ShopBridge/ShopBridge.Services.Data/obj/Debug/net5.0
/ShopBridge/ShopBridge.Services.Data/obj/Debug
/ShopBridge/ShopBridge.Services.Data/obj
/ShopBridge/ShopBridge.Services.Core/obj/ShopBridge.Services.Core.csproj.nuget.g.targets
/ShopBridge/ShopBridge.Services.Core/obj/ShopBridge.Services.Core.csproj.nuget.g.props
/ShopBridge/ShopBridge.Services.Core/obj/ShopBridge.Services.Core.csproj.nuget.dgspec.json
/ShopBridge/ShopBridge.Services.Core/obj/project.nuget.cache
/ShopBridge/ShopBridge.Services.Core/obj/project.assets.json
/ShopBridge/ShopBridge.Services.Core/obj/Debug/netcoreapp3.1/ShopBridge.Services.Core.csprojAssemblyReference.cache
/ShopBridge/ShopBridge.Services.Core/obj/Debug/netcoreapp3.1/ShopBridge.Services.Core.assets.cache
/ShopBridge/ShopBridge.Services.Core/obj/Debug/netcoreapp3.1/ShopBridge.Services.Core.AssemblyInfoInputs.cache
/ShopBridge/ShopBridge.Services.Core/obj/Debug/netcoreapp3.1/ShopBridge.Services.Core.AssemblyInfo.cs
/ShopBridge/ShopBridge.Services.Core/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ShopBridge/ShopBridge.Services.Core/obj/Debug/netcoreapp3.1
/ShopBridge/ShopBridge.Services.Core/obj/Debug/net5.0/ShopBridge.Services.Core.GeneratedMSBuildEditorConfig.editorconfig
/ShopBridge/ShopBridge.Services.Core/obj/Debug/net5.0/ShopBridge.Services.Core.assets.cache
/ShopBridge/ShopBridge.Services.Core/obj/Debug/net5.0/ShopBridge.Services.Core.AssemblyInfoInputs.cache
/ShopBridge/ShopBridge.Services.Core/obj/Debug/net5.0/ShopBridge.Services.Core.AssemblyInfo.cs
/ShopBridge/ShopBridge.Services.Core/obj/Debug/net5.0
/ShopBridge/ShopBridge.Services.Core/obj/Debug
/ShopBridge/ShopBridge.Services.Core/obj
/ShopBridge/ShopBridge.Data.Core/obj/ShopBridge.Data.Core.csproj.nuget.g.targets
/ShopBridge/ShopBridge.Data.Core/obj/ShopBridge.Data.Core.csproj.nuget.g.props
/ShopBridge/ShopBridge.Data.Core/obj/ShopBridge.Data.Core.csproj.nuget.dgspec.json
/ShopBridge/ShopBridge.Data.Core/obj/project.nuget.cache
/ShopBridge/ShopBridge.Data.Core/obj/project.assets.json
/ShopBridge/ShopBridge.Data.Core/obj/Debug/netcoreapp3.1/ShopBridge.Data.Core.assets.cache
/ShopBridge/ShopBridge.Data.Core/obj/Debug/netcoreapp3.1/ShopBridge.Data.Core.AssemblyInfoInputs.cache
/ShopBridge/ShopBridge.Data.Core/obj/Debug/netcoreapp3.1/ShopBridge.Data.Core.AssemblyInfo.cs
/ShopBridge/ShopBridge.Data.Core/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ShopBridge/ShopBridge.Data.Core/obj/Debug/netcoreapp3.1
/ShopBridge/ShopBridge.Data.Core/obj/Debug/net5.0/ShopBridge.Data.Core.GeneratedMSBuildEditorConfig.editorconfig
/ShopBridge/ShopBridge.Data.Core/obj/Debug/net5.0/ShopBridge.Data.Core.csprojAssemblyReference.cache
/ShopBridge/ShopBridge.Data.Core/obj/Debug/net5.0/ShopBridge.Data.Core.assets.cache
/ShopBridge/ShopBridge.Data.Core/obj/Debug/net5.0/ShopBridge.Data.Core.AssemblyInfoInputs.cache
/ShopBridge/ShopBridge.Data.Core/obj/Debug/net5.0/ShopBridge.Data.Core.AssemblyInfo.cs
/ShopBridge/ShopBridge.Data.Core/obj/Debug/net5.0
/ShopBridge/ShopBridge.Data.Core/obj/Debug
/ShopBridge/ShopBridge.Data.Core/obj
/ShopBridge/ShopBridge.Data/obj/ShopBridge.Data.csproj.nuget.g.targets
/ShopBridge/ShopBridge.Data/obj/ShopBridge.Data.csproj.nuget.g.props
/ShopBridge/ShopBridge.Data/obj/ShopBridge.Data.csproj.nuget.dgspec.json
/ShopBridge/ShopBridge.Data/obj/project.nuget.cache
/ShopBridge/ShopBridge.Data/obj/project.assets.json
/ShopBridge/ShopBridge.Data/obj/Debug/netcoreapp3.1/ShopBridge.Data.csprojAssemblyReference.cache
/ShopBridge/ShopBridge.Data/obj/Debug/netcoreapp3.1/ShopBridge.Data.assets.cache
/ShopBridge/ShopBridge.Data/obj/Debug/netcoreapp3.1/ShopBridge.Data.AssemblyInfoInputs.cache
/ShopBridge/ShopBridge.Data/obj/Debug/netcoreapp3.1/ShopBridge.Data.AssemblyInfo.cs
/ShopBridge/ShopBridge.Data/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ShopBridge/ShopBridge.Data/obj/Debug/netcoreapp3.1
/ShopBridge/ShopBridge.Data/obj/Debug/net5.0/ShopBridge.Data.GeneratedMSBuildEditorConfig.editorconfig
/ShopBridge/ShopBridge.Data/obj/Debug/net5.0/ShopBridge.Data.assets.cache
/ShopBridge/ShopBridge.Data/obj/Debug/net5.0/ShopBridge.Data.AssemblyInfoInputs.cache
/ShopBridge/ShopBridge.Data/obj/Debug/net5.0/ShopBridge.Data.AssemblyInfo.cs
/ShopBridge/ShopBridge.Data/obj/Debug/net5.0
/ShopBridge/ShopBridge.Data/obj/Debug
/ShopBridge/ShopBridge.Data/obj
/ShopBridge/ShopBridge.API/obj/ShopBridge.API.csproj.nuget.g.targets
/ShopBridge/ShopBridge.API/obj/ShopBridge.API.csproj.nuget.g.props
/ShopBridge/ShopBridge.API/obj/ShopBridge.API.csproj.nuget.dgspec.json
/ShopBridge/ShopBridge.API/obj/project.nuget.cache
/ShopBridge/ShopBridge.API/obj/project.assets.json
/ShopBridge/ShopBridge.API/obj/Debug/netcoreapp3.1/ShopBridge.API.RazorAssemblyInfo.cs
/ShopBridge/ShopBridge.API/obj/Debug/netcoreapp3.1/ShopBridge.API.RazorAssemblyInfo.cache
/ShopBridge/ShopBridge.API/obj/Debug/netcoreapp3.1/ShopBridge.API.csprojAssemblyReference.cache
/ShopBridge/ShopBridge.API/obj/Debug/netcoreapp3.1/ShopBridge.API.assets.cache
/ShopBridge/ShopBridge.API/obj/Debug/netcoreapp3.1/ShopBridge.API.AssemblyInfoInputs.cache
/ShopBridge/ShopBridge.API/obj/Debug/netcoreapp3.1/ShopBridge.API.AssemblyInfo.cs
/ShopBridge/ShopBridge.API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ShopBridge/ShopBridge.API/obj/Debug/netcoreapp3.1
/ShopBridge/ShopBridge.API/obj/Debug/net5.0/ShopBridge.API.GeneratedMSBuildEditorConfig.editorconfig
/ShopBridge/ShopBridge.API/obj/Debug/net5.0/ShopBridge.API.csprojAssemblyReference.cache
/ShopBridge/ShopBridge.API/obj/Debug/net5.0/ShopBridge.API.assets.cache
/ShopBridge/ShopBridge.API/obj/Debug/net5.0/ShopBridge.API.AssemblyInfoInputs.cache
/ShopBridge/ShopBridge.API/obj/Debug/net5.0/ShopBridge.API.AssemblyInfo.cs
/ShopBridge/ShopBridge.API/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ShopBridge/ShopBridge.API/obj/Debug/net5.0
/ShopBridge/ShopBridge.API/obj/Debug
/ShopBridge/ShopBridge.API/obj
/ShopBridge/.vs/ShopBridge/v16/.suo
/ShopBridge/.vs/ShopBridge/v16
/ShopBridge
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ShopBridge/v16/.suo
/.vs/ShopBridge/v16
/.vs
